@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
/* ### Primary */
--SoftBlue: hsl(231, 69%, 60%);
--SoftRed: hsl(0, 94%, 66%);
   /* ### Neutral */
--GrayishBlue: hsl(229, 8%, 60%);
--VeryDarkBlue: hsl(229, 31%, 21%);
--FONT: 'Rubik',sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3vmax 12vmax;
        overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
}
.logo__img{
    width: auto;
    height: 1.7vmax;
}
.class__list{
    list-style: none;
}
.list{
    display: inline;
    padding-inline: 1.5vmax;
    font-family: var(--FONT);
    color: var(--VeryDarkBlue);
}
.box__loggin{
    background-color: var(--SoftRed);
    color: white;
    border: 0.15vmax solid;
    padding: 0.5vmax 1.5vmax;
    border-radius: 0.3vmax;
    font-family: var(--FONT);
    font-weight: 500;
    letter-spacing: 3px;
}
.box__loggin:hover{
    background-color: white;

}
.list:hover{
    color: var(--SoftRed);
    cursor: pointer;
}
/* section 1 */
.section--1{
    display: flex;
    padding: 6vmax 0;
}
.section__1__left {
    display: flex;
    flex-direction: column;
}
.section__1__img{
    position: relative;
    left: 8vmax;
    z-index: 2;
    width: 42vmax;
}
.section__1__shape{
    position: absolute;
    left: 70vmax;
    top: 19vmax;
    height: 23vmax;
    width: 60vmax;
    border-radius: 10vmax;
    background-color: var(--SoftBlue);
    z-index: 1;
}
.section__1__header{
    padding-top: 5.5vmax;
    font-family: var(--FONT);
    font-size: 3.5vmax;
    color: var(--VeryDarkBlue);
    font-weight: 500;
    padding-bottom: 2vmax;
}
.section__1__span{
    font-family: var(--FONT);
    font-size: 1.3vmax;
    color: var(--GrayishBlue);
    margin-bottom: 1.5vmax;
}
.section__1__con__btn{
    display: flex;
    padding-top: 1.5vmax;
    gap: 1vmax;
}
.section__1__btn__blue{
    font-family: var(--FONT);
    font-size: 0.8vmax;
    padding: .9vmax 1.3vmax;
    background-color: var(--SoftBlue);
    border: 2px solid var(--SoftBlue);
    border-radius: .4vmax;
    font-weight: 500;
    color: white;
}.section__1__btn__blue:hover{
    cursor: pointer;
    background-color: white;
    color: var(--SoftBlue);
}
.section__1__btn__gray{
    font-family: var(--FONT);
    font-size: 0.8vmax;
    padding: .9vmax 1.3vmax ;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(238, 238, 238);
    border-radius: .4vmax;
    font-weight: 500;
    color: var(--GrayishBlue);
    box-shadow: 0px 6px 10px rgb(238, 238, 238) ;
}
.section__1__btn__gray:hover{
    border: 2px solid var(--VeryDarkBlue);
    background-color: white;
    color: var(--VeryDarkBlue);
    cursor: pointer;
}
.section--2{
    display: flex;
    flex-direction: column;
}
.section__2__text__con{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__2__h2{
    font-family: var(--FONT);
    font-size: 2.3vmax;
    color: var(--VeryDarkBlue);
    font-weight: 500;
    padding-bottom: 2vmax;
}
.section__2__span{
    font-size: 1vmax;
    color: var(--GrayishBlue);
    font-family: var(--FONT);
    text-align: center;
   padding-inline: 22.5vmax;
}
.section__2__btn__con{
    padding-top: 3.5vmax;
    display: flex;
    justify-content: center;

}
.section__2__box__con{
    display: none;
}
.section__2__box__con__active{
    display: flex;
    justify-content: center;
}
.section__2__btn{
    cursor: pointer;
    background-color: transparent;
    border:none ;
    border-bottom: 1.2px solid rgb(228, 228, 228);
    /* box-shadow: 0px 20px 10px rgb(228, 228, 228) ; */
    padding: 1.6vmax 2.6vmax;
    font-size: 1.1vmax;
    font-family: var(--FONT);
    color: var(--GrayishBlue);
}
.section__2__btn:hover{
    color: var(--SoftRed);
}
.section__2__btn__active{
    color: var(--VeryDarkBlue);
border-bottom: 4px solid var(--SoftRed);
}
.section__2__img__1{
    position: relative;
    z-index: 2;
    top: 5vmax;
    width: 38vmax;
}
.section__2__shape{
position: absolute;
left: -22vmax;
top: 77vmax;
height: 21vmax;
width: 69vmax;
border-radius: 12vmax;
background-color: var(--SoftBlue);
z-index: 1;
}
.section__2__con{
    display: flex;
    gap: 8vmax;
}
.section__2__right{
    display: none;
   
}
.right{
    padding: 0;
    text-align: left;
    font-size: 1.15vmax;
}
.top{
    padding-top: 7.5vmax;
}
.section__2__btn__info{
   margin-top: 3vmax;
    background-color: var(--SoftBlue);
    border: 2px solid var(--SoftBlue);
    border-radius: 0.5vmax;
    width: 10vmax;
    color: white;
    font-family: var(--FONT);
    padding: .7vmax 0vmax;
    padding-inline: 0.2vmax;
    font-size: 1.2vmax;
    font-weight: 400;
}
.section__2__right__active{
    display: flex ;
    flex-direction: column;
    justify-content: center;
}
.section__2__img__2{
position: relative;
    z-index: 2;
    top: 3vmax;
    width: 35vmax;
    left: 2vmax;
}
.section__2__img__3{
    position: relative;
        z-index: 2;
        top: 3vmax;
        width: 35vmax;
        left: 3vmax;
}
.section__2__btn__info:hover{
    border: 2px solid var(--SoftBlue);
    background-color: transparent;
    color: var(--SoftBlue);
    cursor: pointer;
}
.section--3{
    display: flex;
    flex-direction: column;
    margin-top: 25vmax;
    align-items: center;
}
.section__3__text__con{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__3__h2 {
    font-family: var(--FONT);
    font-size: 2.3vmax;
    color: var(--VeryDarkBlue);
    font-weight: 500;
    padding-bottom: 2vmax;
}

.section__3__span {
    font-size: 1vmax;
    color: var(--GrayishBlue);
    font-family: var(--FONT);
    text-align: center;
    padding-inline: 22.5vmax;
}
.section__3__con{
    display: flex;
    column-gap: 3vmax;
    
}
.section__3__con__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 40px 40px rgb(204, 204, 204) ;
    border-radius: .6vmax;
}
.card__logo{
    height: 7vmax;
    width: 7.2vmax;
    margin-bottom: 2vmax;
    
}
.card__h3{
    color: var(--VeryDarkBlue);
    font-family: var(--FONT);
    margin-bottom: .7vmax;
    font-weight: 550;
}
.card__text{
    color: var(--GrayishBlue);
    font-family: var(--FONT);
    margin-bottom: 1.8vmax;
}
.section__3__card__btn{
    margin-top: 1.2vmax;
    color: white;
    background-color: var(--SoftBlue);
    font-family: var(--FONT);
    border: 2px solid var(--SoftBlue);
    cursor: pointer;
    padding: 0.6vmax 2.5vmax;
    font-size: .7vmax;
    border-radius: 0.4vmax;
    font-weight: 500;
    margin-bottom: 1.2vmax;
}
.section__3__card__btn:hover{
    background-color: white;
    color: var(--SoftBlue);
}

.card__first{
    position: relative;
    top: 6vmax;
}
.card__second{
position: relative;
    top: 9vmax;
}
.card__third{
position: relative;
    top: 12vmax;
}